<br />
<input onclick="GetChangePassword()" value="Change Password" type="button"/>
<label id="labelforpasswordchange"></label>
<br />
<input onclick="GetChangeEmail()" value="Change Email" type="button"/>
<label id="labelforemailchange"></label>
<br />

