@model CURSOVA.Areas.Admin.Models.PizzaModelAdmin

<table>
    @foreach (var item in Model.PizzasComponents)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>