
@{
    ViewBag.Title = "Pizzas";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Pizzas</h2>

<div class="row">

    <div class="col-lg-8" id="Div-Pizzas">
        @Html.Action("EditPizzas")
    </div>

    <div class="col-lg-4" id="Div-Edit">

    </div>
</div>

@Scripts.Render("~/bundles/adminscripts")

