@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(User.Identity.Name, "PersonalCabinet", "Account")
    <br />
    @Html.ActionLink("LogOut", "LogOut", "Account")
    <br />
    @Html.ActionLink("Buy Pizza", "Pizzas", "Home")
    <br />

    if (User.IsInRole("admin"))
    {
        @Html.RouteLink("Admin", new { controller = "Home", action = "Test", area = "Admin" })
    }

}
else
{
    <li>
        <button onclick="Login()">Sign in</button>
    </li>
    <li>
        <button onclick="GetRegistration()">Registration</button>
    </li>
}
