@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(User.Identity.Name, "PersonalCabinet", "Account", new object(), new { @class="btn btn-primary" })

    @Html.ActionLink("LogOut", "LogOut", "Account", new object(), new { @class = "btn btn-primary" })

    @Html.ActionLink("Buy Pizza", "Pizzas", "Home", new object(), new { @class = "btn btn-primary" })

    if (User.IsInRole("admin"))
    {
        @Html.RouteLink("Admin", new { controller = "Home", action = "Test", area = "Admin" }, new { @class = "btn btn-primary" })
    }

}
else
{
    <li>
        <button onclick="Login()" class = "btn btn-primary">Sign in</button>
    </li>
    <li>
        <button onclick="GetRegistration()" class = "btn btn-primary">Registration</button>
    </li>
}
