@model CURSOVA.Models.ViewModels.UserInfo

@{
    Layout = null;
}

@using (Html.BeginForm("Accept", "Home"))
{
    <label>Phone: </label><br />
    @Html.TextBoxFor(x => x.Phone)
    @Html.ValidationMessageFor(x => x.Phone)
    <br />

    <label>Address: </label><br />
    @Html.TextBoxFor(x => x.Address)
    @Html.ValidationMessageFor(x => x.Address)

    <input type="submit" value="Accept" />
}

